  <div class="row" id="head">
		<div class="large-12 columns">
      <h2 class="black">{{message}}</h2>
			<p class="light">Willkommen bei den Orientierungstagen des Fachschaftrats Elektrotechnik, Informatik und Communication and Multimedia Design der Fachhochschule Aachen.</p>
		</div>
	</div>
      <div class="row">
      <div class="large-12 columns mybuttons">
        <button ng-click="toRegister()" class="button success">Zur Anmeldung</button>
        <button ng-click="toLookup()" class="button success">Gruppe vergessen?</button>
      </div>
    </div>